@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url(https://fonts.googleapis.com/css?family=Raleway);
}

/**.navbar {
	padding: 8px;
	text-align: left;
	top: 0px;
	width: 100%;
	background-color: white;
	height: 40px;
	z-index: 9999;
}**/

footer {
	text-align: center;
}

.container {
	width: 100%;
	text-align: left;
}

img {
	height: auto;
	width: 30%;
}

#am img {
	height: auto;
	width: 80%;
}

#home {
	padding-top: 10%;
	padding-bottom: 5%;
	text-align: center;
}

p {
	text-align: left;
}

.project {
	clear: both;
	text-align: left;
	border-top: 1px solid #eee;
	padding: 4rem 0;
  	margin-bottom: 0;
}

#contact {
	text-align: center;
}

#contact img {
	height: auto;
	width: 60%;
}

.onegraphic {
	text-align: right;
}

.onegraphic img {
	width: 70%;
	height: auto;
}

.twographic {
	text-align: right;
}

.twographic img {
	width: 100%;
	height: auto;
}

.graphic {
	text-align: center;

}

.graphic img {
	width: 70%;
	height: auto;
}