@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url(https://fonts.googleapis.com/css?family=Raleway);
}


html { 
    background-color: black;
}

.container {
	width: 100%;
    vertical-align: middle; 
}

img {
	height: auto;
	width: 60%;
}

middle {
    vertical-align: middle;
}

#home {
	padding-top: 10%;
	padding-bottom: 5%;
	text-align: center;
    vertical-align: middle;
}

p {
	text-align: left;
}
