@import url(http://fonts.googleapis.com/css?family=Muli);

body {
	font-family: "Century Gothic", "Muli", sans-serif;
	background-color: #fff;
}

header {
	position: fixed;
	background-color: white;
	margin-top: -10px;
	width: 100%;
	height: 82px;
}

#logo {
	height: 100px;
	float: left;
	margin-top: -5px;
	margin-left: -30px;
}

nav {
	float: right;
	margin-top: 12.5px;
}

nav ul li {
	text-decoration: none;
	position: relative;
	display: inline-block;
	font-size: 1.25em;
	height: 1em;
	text-align: center;
	padding: 0em 20px 0em 20px;
}

a {
	text-decoration: none;
	color: #00aeef;
}

a:hover {
	color: #0092c8;
}

div {
	clear: both;
	min-height: 100vh;
	padding: 30px 0px 0px 0px;
	text-align: center;
}

body>div {
	margin-left: 50px;
}

h2 {
	color: #b2d234;
	font-size: 5em;
	margin-bottom: 10px;
}

h3 {
	font-size: 2.5em;
	color: #00aeef;
	text-align: left;
	margin-bottom: 10px;
}

p {
	font-size: 1.5em;
	font-weight:normal;
	text-align: left;
	padding-bottom: 3px;
}

#home {
	text-align: center;
	height: 100%;
}

.columnleft {
	width: 49%;
	float: left;
	clear: none;
	height: 100%;
	padding-top: 0px;
	margin: 0px;
}

#home h3 {
	padding: 0px;
	text-align: center;
}

.columnleft img {
	width: 80%;
	display: inline-block;
	padding: 0px 50px 0px 50px;
}

.columnright {
	width: 49%;
	float: right;
	clear: none;
	display: inline-block;
	padding-top: 0px;
	margin: 0px;
}

.columnright img {
	width: 80%;
	display: inline-block;
}

#who {
	height: 100%;
	padding: 30px 0px 0px 0px;
	margin-left: 100px;
}

#who .columnleft p {
	margin-top: 0px;
	padding-right: 0px;
	font-size: 1.25em;
}

#what {

}

#portfolio {
	padding-top: 30px;
	height: 100%;
	text-align: center;
}

#portfolio h2 {
	font-size: 4em;
	padding: 0px 100px 0px 100px;
}

#portfolio img {
	height: 400px;
	display: inline-block;
	padding: 0px 10px 20px 10px;
}

#contact {
	height: 100%;
	text-align: center;
	padding: 20px 0px 0px 0px;
}

#contact h3 {
	padding: 0px;
	text-align: center;
	margin: 0px;
}

#contact .columnright h3 {
	text-align: left;
}

#contact .columnright p {
	padding-right: 80px;
}

#contact .columnleft {
	min-height: 0px;
}

#contact .columnright {
	min-height: 0px;
}

#contact .columnleft img {
	height: 100px;
	width: auto;
}

#contact .columnleft h3 {
	margin: 30px;
}

.clearboth {
	clear: both;
}

footer {
	clear: both;
	position: fixed;
	bottom: 0px;
	width: 100%;
	font-size: .3em;
	background-color: #fff;
	padding: 0px 0px 5px 0px;
	height: 20px;
}

footer p:first-child {
	font-size: 2em;
	float: left;
	padding-left: 10px;
}

footer p:nth-child(2) {
	font-size: 2em;
	float: right;
	color: #00aeef;
	padding-right:10px;
}

footer a {
	color: black;
}

footer a:hover {
	color: black;
}